{%  load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Buildwith.me</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        
        <div class="p-holder">
            
            <div class="p">
                <h1>{{ city.name }}</h1>
                <p>{{ city.info }}</p>
            </div>

        </div>
        
    </body>
</html>